.copyright {
	border: 1px solid #528fe3;
	color: #000000;
	position: fixed;
	left: 16px;
	bottom: 16px;
	text-align: left;
	padding: 8px 24px;
	border-radius: 32px;
	opacity: 0.95;
    box-shadow: 2px 1px 7px #09f;
}

.copyright span {
	font-size: 14px;
	color: #09f;
	opacity: 0.8;
}

.copyright h4,
.copyright h5 {
	margin: 0;
	display: flex;
}
