.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .movies{
            list-style: none;
            display: grid;
            width: 100%;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 1rem;

            .movie{
                text-align: center;

                h2, p{
                    margin-bottom: 0.5rem;
                }
                img{
                    border-radius: 10px;
                }
            }
        }
    }

    form{
        align-items: center;
        display: flex;
        justify-content: center;
    }
}